<div class="header">
  <div>
    <img
      class="header__logo"
      src="assets/img/logo-alura.png"
      alt="logo da alura"
    />
  </div>
  <div>
    <nav class="navbar navbar-light">
      <form class="form-inline">
        <input
          class="header__search form-control mr-sm-2"
          type="search"
          placeholder="Busque por algo"
          aria-label="Search"
        />
      </form>
    </nav>
  </div>
  <div>
    <ul class="header__user-img">
      <li class="img-user">
        <i class="fa fa-user-circle"></i>
      </li>
      <li class="name-user">Ezequiel</li>
    </ul>
  </div>
</div>
