<div class="background-editor-code">
  <div class="editor-code">
    <ul class="editor-code__circles-colors">
      <li><img src="assets/img/ellipse-1.svg" alt="bolinha vermelha" /></li>
      <li><img src="assets/img/ellipse-2.svg" alt="bolinha amarela" /></li>
      <li><img src="assets/img/ellipse-3.svg" alt="bolinha verde" /></li>
    </ul>
    <div class="container">
      <textarea></textarea>
    </div>
  </div>
</div>

<div>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-highlight">
    Visualizar com o highlight
  </button>
</div>
