<div class="info-proj">
  <ul class="desc-proj">
    <li class="desc-proj__title">Seu Projeto</li>
    <li class="desc-proj__name-proj">
      <input class="form-control" placeholder="Nome do seu projeto" />
    </li>
    <li class="desc-proj__descricao-proj">
      <textarea
        class="form-control"
        placeholder="Descrição do seu projeto"
      ></textarea>
    </li>
  </ul>

  <ul class="custom">
    <li class="custom__title">Personalização</li>
    <li class="custom__select-lang">
      <select>
        <option *ngFor="let linguagem of linguagens" [value]="linguagem">
          {{ linguagem }}
        </option>
      </select>
    </li>
    <li class="custom__background-color">
      <div>
        <button class="btn btn-lg"></button>
      </div>
    </li>
    <li class="custom__button-save">
      <button type="button" class="btn btn-lg">Salvar projeto</button>
    </li>
  </ul>
</div>
