.info-proj {
  margin-top: 40px;
  margin-right: 32px;

  .desc-proj {
    list-style: none;

    &__title {
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.4em;
      text-transform: uppercase;

      margin-bottom: 16px;
    }

    &__name-proj {
      input {
        width: 272px;
        height: 56px;
        border-radius: 8px;
        background: #2d415a;
        color: #fff;
      }

      margin-bottom: 16px;
    }

    &__descricao-proj {
      textarea {
        width: 272px;
        height: 80px;
        border-radius: 8px;
        background: #2d415a;
        color: #fff;
        margin-bottom: 40px;
      }
    }
  }

  .custom {
    list-style: none;

    &__title {
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &__select-lang {
      select {
        width: 17rem;
        height: 56px;
        border-radius: 8px;
        background: #2d415a;
        color: #fff;
      }
    }

    &__background-color {
      margin-top: 16px;

      div {
        border: solid 1px #ffffff;
        border-radius: 8px;
        width: 17rem;
      }

      button {
        width: 15.8rem;
        height: 3.5rem;
        margin: 8px;
        border-radius: 8px;
        background: #6bd1ff;
      }
    }

    &__button-save {
      margin-top: 2rem;

      button {
        width: 17rem;
        background: #5081fb;
        font-size: 16px;
      }
    }
  }
}
